.chart-container {
  width: 600px;
  height: auto;
  list-style-type: none;
  border: 1px solid gray;
  padding: 5px;
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, max-content));
  grid-gap: 16px;
  justify-content: center;
  padding: 32px;
}

.centered {
  font-family: arial;
  font-size: 24px;
  width: 100%;
}

.centered h3 {
  text-align: center;
}

.settings-table {
  width: 100%;
  border-spacing: 16px;
  border-collapse: collapse;
}

.settings-table tr th input {
  width: 100px;
}

.settings-table tr th h5 {
  width: 350px;
}

table tr {
  border-top: 2px solid #EEE;
}
