<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.gms.dk/dsl/DeviceDefinition"
			class = "dk.gms.dsl.deviceDefinition.DeviceDefinitionPackage"
			genModel = "model/generated/DeviceDefinition.genmodel" />
	</extension>
</plugin>
